@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 29, 26, 27;
  --background-start-rgb: 253, 242, 216;
  --background-end-rgb: 253, 238, 216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 13, 19, 33;
    --background-end-rgb: 13, 19, 33;
  }
}

body {
  overflow-x: hidden; /* Prevents horizontal scrolling */
  overflow-y: hidden; /* Prevents vertical scrolling */
  max-width: 100%; /* Ensures the width doesn't exceed the viewport */
  height: 100vh; /* Sets the height to the full viewport height */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.card-neumorphism {
  border-radius: 50px;
  background: #141414;
  box-shadow: -20px 20px 43px #121212, 20px -20px 43px #161616;
}

[data-rk] [aria-labelledby="rk_connect_title"] {
  z-index: 2147483645 !important;
}

/* Ensure we have enough pixel height to not block elements when running in standalone mode */
@media screen and (display-mode: standalone) {
  header {
    height: 88px !important;
  }
  footer {
    padding-bottom: calc(24px + env(safe-area-inset-bottom));
  }
}

.custom-shadow {
  box-shadow: 5px 5px 1px 0px #000;
}

/* Responsive CSS TV by Leon Ho - (https://codepen.io/leon-ho/pen/AEOvWP) */
#container {
  max-width: 1024px;
  margin: auto;
}

#monitor {
  background: #000;
  position: relative;
  border-top: 3px solid #888;
  margin: 5%;
  padding: 2% 2% 4% 2%;
  border-radius: 10px;
  border-bottom-left-radius: 50% 2%;
  border-bottom-right-radius: 50% 2%;
  transition: margin-right 1s;
}

#monitor:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 3%;
  left: 36%;
  height: 0.5%;
  width: 28%;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 white;
}

#monitorscreen {
  position: relative;
  background-color: #111;
  background-size: cover;
  background-position: top center;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

@media all and (min-width: 960px) {
  #monitor {
    -webkit-animation: tvflicker 1.2s infinite alternate;
    -moz-animation: tvflicker 1.5s infinite alternate;
    -o-animation: tvflicker 1.5s infinite alternate;
    animation: tvflicker 1.5s infinite alternate;
  }

  @-webkit-keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(0, 187, 249, 0.4);
    }
    100% {
      box-shadow: 0 0 95px 0 rgba(241, 91, 181, 0.45);
    }
  }
  @-moz-keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(0, 187, 249, 0.4);
    }
    100% {
      box-shadow: 0 0 60px 0 rgba(241, 91, 181, 0.6);
    }
  }
  @-o-keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(0, 187, 249, 0.4);
    }
    100% {
      box-shadow: 0 0 60px 0 rgba(241, 91, 181, 0.6);
    }
  }
  @keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(0, 187, 249, 0.4);
    }
    100% {
      box-shadow: 0 0 60px 0 rgba(241, 91, 181, 0.6);
    }
  }
}
/* End Responsive CSS TV by Leon Ho - (https://codepen.io/leon-ho/pen/AEOvWP) */

.brown-gradient {
  background: linear-gradient(92deg, #d8ccb1 2.87%, #81704d 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ticker {
  width: 100%;
  /* overflow: hidden; */
}

.ticker__item {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: ticker 80s linear infinite;
  color: #f6dbbd;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker {
  display: flex;
  animation: scroll 10s linear infinite;
  animation-play-state: paused;
}
